nav {
  font-size: 1.2rem;
}

.nav {
  &-item {
    width: max-content;
    white-space: nowrap;
  }

  &-link {
    width: max-content;
    white-space: nowrap;
    margin: 0 1rem 0 1rem;
  }

  &-link:lang(en) {
    font-family: 'EBGaramond', Helvetica, sans-serif;
    font-weight: 500;
    font-style: bold;
  }

  &-link:lang(ko-KR) {
    font-family: 'Korean-EBGaramond', Verdana, sans-serif;
    font-weight: 500;
    font-style: bold;
  }

  &__main-links {
    display: flex;
    align-self: center;
  }

  &__translation-link {
    display: flex;
    justify-self: flex-end;
  }
}

.dropdown-item:lang(en) {
  font-family: 'EBGaramond', Helvetica, sans-serif;
  font-weight: 500;
  font-style: bold;
}

.dropdown-item:lang(ko-KR) {
  font-family: 'Korean-EBGaramond', Verdana, sans-serif;
  font-weight: 500;
  font-style: bold;
}
