/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout > page layout > components

1em = 16px
*/
html {
  font-size: 62.5%; }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: #f8f8f8;
  min-width: 37.5em; }
  @media only screen and (min-width: 56.25em) {
    body {
      padding: 0; } }

body:lang(en) {
  font-family: 'OpenSans', Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal; }

body:lang(ko-KR) {
  font-family: 'Korean-OpenSans', Verdana, sans-serif;
  font-weight: 500;
  font-style: normal; }

h1:lang(en) {
  font-family: 'EBGaramond', Helvetica, sans-serif;
  font-weight: 500;
  font-style: bold; }

h1:lang(ko-KR) {
  font-family: 'Korean-EBGaramond', Verdana, sans-serif;
  font-weight: 500;
  font-style: bold; }

#nprogress .bar {
  background: #3b5284 !important; }

.hidden-link {
  display: none; }

.nav-link {
  margin: 0 1rem 0 1rem; }

/*
These are the imports for the main fonts in all of the application that use the serif font.
*/
@font-face {
  font-family: "EBGaramond";
  src: url("fonts/eb-garamond/EBGaramond-ExtraBold.ttf");
  font-weight: 900;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "EBGaramond";
  src: url("fonts/eb-garamond/EBGaramond-Bold.ttf");
  font-weight: 700;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "EBGaramond";
  src: url("fonts/eb-garamond/EBGaramond-SemiBold.ttf");
  font-weight: 500;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "EBGaramond";
  src: url("fonts/eb-garamond/EBGaramond-Medium.ttf");
  font-weight: 400;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "EBGaramond";
  src: url("fonts/eb-garamond/EBGaramond-Regular.ttf");
  font-weight: 300;
  font-style: "normal";
  font-display: swap; }

/*
These are the main fonts in the application that use the korean serif font.
*/
@font-face {
  font-family: "Korean-EBGaramond";
  src: url("fonts/nanum-myeongjo/NanumMyeongjo-ExtraBold.ttf");
  font-weight: 900;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-EBGaramond";
  src: url("fonts/nanum-myeongjo/NanumMyeongjo-Bold.ttf");
  font-weight: 700;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-EBGaramond";
  src: url("fonts/nanum-myeongjo/NanumMyeongjo-Regular.ttf");
  font-weight: 300;
  font-style: "normal";
  font-display: swap; }

/*
These are the main fonts in the application that use the sans serif font
*/
@font-face {
  font-family: "OpenSans";
  src: url("fonts/opensans/OpenSans-ExtraBold.ttf");
  font-weight: 900;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "OpenSans";
  src: url("fonts/opensans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "OpenSans";
  src: url("fonts/opensans/OpenSans-SemiBold.ttf");
  font-weight: 500;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "OpenSans";
  src: url("fonts/opensans/OpenSans-Regular.ttf");
  font-weight: 300;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "OpenSans";
  src: url("fonts/opensans/OpenSans-Light.ttf");
  font-weight: 200;
  font-style: "normal";
  font-display: swap; }

/*
These are the main fonts in the application that use the korean sans serif font
*/
@font-face {
  font-family: "Korean-OpenSans";
  src: url("fonts/gothic/GothicA1-ExtraBold.ttf");
  font-weight: 900;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-OpenSans";
  src: url("fonts/gothic/GothicA1-Bold.ttf");
  font-weight: 700;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-OpenSans";
  src: url("fonts/gothic/GothicA1-SemiBold.ttf");
  font-weight: 500;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-OpenSans";
  src: url("fonts/gothic/GothicA1-Medium.ttf");
  font-weight: 400;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-OpenSans";
  src: url("fonts/gothic/GothicA1-Regular.ttf");
  font-weight: 300;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-OpenSans";
  src: url("fonts/gothic/GothicA1-Light.ttf");
  font-weight: 200;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-OpenSans";
  src: url("fonts/gothic/GothicA1-ExtraLight.ttf");
  font-weight: 100;
  font-style: "normal";
  font-display: swap; }

.nav-link {
  font-family: 'EBGaramond', Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  color: black !important; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (min-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (min-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-bottom-massive {
  margin-bottom: 13rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-left-medium {
  margin-left: 4rem !important; }

.u-padding-left-small {
  padding-left: 1.5rem !important; }

.u-padding-left-medium {
  padding-left: 4rem !important; }

.u-padding-bottom-small {
  padding-bottom: 1.5rem !important; }

.u-padding-bottom-medium {
  padding-bottom: 4rem !important; }

.u-padding-right-small {
  padding-right: 1.5rem !important; }

.u-padding-right-medium {
  padding-right: 4rem !important; }

.translation-slider__container {
  display: flex;
  align-items: center;
  flex-direction: row; }
  .translation-slider__container-label {
    width: max-content;
    text-align: center;
    padding: 0.5rem;
    white-space: nowrap; }

.map-chart {
  height: 100%;
  width: 95vw;
  margin: 0;
  padding: 0; }
  .map-chart__marker {
    cursor: pointer; }
  .map-chart__annotation {
    opacity: 0%;
    display: none;
    transition: all 0.2s ease-in-out; }

.map-entity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #f9f9f9;
  border-radius: 10px;
  border: 0.5px solid black;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */ }
  .map-entity::-webkit-scrollbar {
    display: none; }
  .map-entity__card {
    height: max-content;
    width: 85%;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; }
    .map-entity__card-header {
      display: inline-block;
      padding: 0;
      margin: 0.5rem 0.5rem 0 0.5rem;
      font-size: 0.75rem;
      font-weight: bold; }
    .map-entity__card-location {
      display: inline-block;
      padding: 0;
      margin: 0 0.5rem 0 0.5rem;
      font-size: 0.5rem; }
    .map-entity__card-link {
      display: inline-block;
      padding: 0;
      margin: 0 0.5rem 0.5rem 0.5rem;
      font-size: 0.5rem; }

.btn {
  color: #5ba8a0;
  padding: 1.5rem 4rem;
  border-radius: 2rem;
  border: 3px solid #5ba8a0;
  font-size: 2rem;
  transition: all 0.4s; }
  .btn:link, .btn:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; }
  .btn:hover {
    color: #5ba8a0;
    transform: translateY(-3px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .btn:active {
    text-decoration: none;
    transform: translateY(3px);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    background: linear-gradient(#3b5284, #5ba8a0);
    color: #ffffff;
    cursor: pointer; }

nav {
  font-size: 1.2rem; }

.nav-item {
  width: max-content;
  white-space: nowrap; }

.nav-link {
  width: max-content;
  white-space: nowrap; }

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
  width: 100%;
  height: 10rem;
  margin-right: 0;
  margin-left: 0;
  background-color: #3f3f3f;
  position: relative; }
  .footer__img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    z-index: 10;
    display: inline-block;
    user-select: none; }
    .footer__img-container {
      height: 100%; }
  .footer__contact {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10rem; }
    .footer__contact-text {
      color: #f8f8f8; }

.hero__image {
  object-fit: contain;
  width: 100%;
  height: auto;
  transition: height 0.66s ease-in-out; }

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.index {
  display: flex;
  height: 66%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .index__disclaimer {
    margin-right: 5rem;
    display: flex;
    align-self: flex-end; }
  .index__welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    @media only screen and (min-width: 23.4375em) {
      .index__welcome {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; } }
    @media only screen and (min-width: 37.5em) {
      .index__welcome {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; } }
    @media only screen and (min-width: 93.75em) {
      .index__welcome {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row; } }
  .index__orgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .index__orgs-header {
      display: flex;
      align-self: flex-start; }
    .index__orgs-carousel {
      width: 50%; }

.about {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%; }
  .about__text {
    font-size: 1.2rem; }
  .about__team {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%; }
    .about__team-card {
      margin: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
    .about__team-header {
      margin: 1rem; }

.care-net {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 5rem; }
  .care-net__header:lang(en) {
    font-family: 'EBGaramond', Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal; }
  .care-net__header:lang(ko-KR) {
    font-family: 'Korean-EBGaramond', Verdana, sans-serif;
    font-weight: 500;
    font-style: normal; }
  .care-net__connect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.75rem; }
    .care-net__connect-text:lang(en) {
      font-family: 'EBGaramond', Helvetica, sans-serif;
      font-weight: 500;
      font-style: bold; }
    .care-net__connect-text:lang(ko-KR) {
      font-family: 'Korean-EBGaramond', Verdana, sans-serif;
      font-weight: 500;
      font-style: bold; }
