/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout > page layout > components

1em = 16px
*/
html {
  font-size: 62.5%; }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 93.75em) {
    html {
      font-size: 75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: #f8f8f8;
  min-width: 37.5em; }
  @media only screen and (min-width: 56.25em) {
    body {
      padding: 0; } }

body:lang(en) {
  font-family: 'OpenSans', Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal; }

body:lang(ko-KR) {
  font-family: 'Korean-OpenSans', Verdana, sans-serif;
  font-weight: 500;
  font-style: normal; }

p:lang(en) {
  font-size: 1.3rem; }

p:lang(ko-KR) {
  font-size: 2.4rem; }

h1:lang(en),
h2:lang(en),
h3:lang(en),
h4:lang(en),
h5:lang(en) {
  font-family: 'EBGaramond', Helvetica, sans-serif;
  font-weight: 500;
  font-style: bold; }

h1:lang(ko-KR),
h2:lang(ko-KR),
h3:lang(ko-KR),
h4:lang(ko-KR),
h5:lang(ko-KR) {
  font-family: 'Korean-EBGaramond', Verdana, sans-serif;
  font-weight: 500;
  font-style: bold; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

#nprogress .bar {
  background: #3b5284 !important; }

.hidden-link {
  display: none; }

/*
These are the imports for the main fonts in all of the application that use the serif font.
*/
@font-face {
  font-family: "EBGaramond";
  src: url("fonts/eb-garamond/EBGaramond-ExtraBold.ttf");
  font-weight: 900;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "EBGaramond";
  src: url("fonts/eb-garamond/EBGaramond-Bold.ttf");
  font-weight: 700;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "EBGaramond";
  src: url("fonts/eb-garamond/EBGaramond-SemiBold.ttf");
  font-weight: 500;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "EBGaramond";
  src: url("fonts/eb-garamond/EBGaramond-Medium.ttf");
  font-weight: 400;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "EBGaramond";
  src: url("fonts/eb-garamond/EBGaramond-Regular.ttf");
  font-weight: 300;
  font-style: "normal";
  font-display: swap; }

/*
These are the main fonts in the application that use the korean serif font.
*/
@font-face {
  font-family: "Korean-EBGaramond";
  src: url("fonts/nanum-myeongjo/NanumMyeongjo-ExtraBold.ttf");
  font-weight: 900;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-EBGaramond";
  src: url("fonts/nanum-myeongjo/NanumMyeongjo-Bold.ttf");
  font-weight: 700;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-EBGaramond";
  src: url("fonts/nanum-myeongjo/NanumMyeongjo-Regular.ttf");
  font-weight: 300;
  font-style: "normal";
  font-display: swap; }

/*
These are the main fonts in the application that use the sans serif font
*/
@font-face {
  font-family: "OpenSans";
  src: url("fonts/opensans/OpenSans-ExtraBold.ttf");
  font-weight: 900;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "OpenSans";
  src: url("fonts/opensans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "OpenSans";
  src: url("fonts/opensans/OpenSans-SemiBold.ttf");
  font-weight: 500;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "OpenSans";
  src: url("fonts/opensans/OpenSans-Regular.ttf");
  font-weight: 300;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "OpenSans";
  src: url("fonts/opensans/OpenSans-Light.ttf");
  font-weight: 200;
  font-style: "normal";
  font-display: swap; }

/*
These are the main fonts in the application that use the korean sans serif font
*/
@font-face {
  font-family: "Korean-OpenSans";
  src: url("fonts/gothic/GothicA1-ExtraBold.ttf");
  font-weight: 900;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-OpenSans";
  src: url("fonts/gothic/GothicA1-Bold.ttf");
  font-weight: 700;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-OpenSans";
  src: url("fonts/gothic/GothicA1-SemiBold.ttf");
  font-weight: 500;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-OpenSans";
  src: url("fonts/gothic/GothicA1-Medium.ttf");
  font-weight: 400;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-OpenSans";
  src: url("fonts/gothic/GothicA1-Regular.ttf");
  font-weight: 300;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-OpenSans";
  src: url("fonts/gothic/GothicA1-Light.ttf");
  font-weight: 200;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Korean-OpenSans";
  src: url("fonts/gothic/GothicA1-ExtraLight.ttf");
  font-weight: 100;
  font-style: "normal";
  font-display: swap; }

.nav-link {
  font-family: 'EBGaramond', Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  color: black !important; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (min-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (min-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-bottom-massive {
  margin-bottom: 13rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-left-medium {
  margin-left: 4rem !important; }

.u-padding-left-small {
  padding-left: 1.5rem !important; }

.u-padding-left-medium {
  padding-left: 4rem !important; }

.u-padding-bottom-small {
  padding-bottom: 1.5rem !important; }

.u-padding-bottom-medium {
  padding-bottom: 4rem !important; }

.u-padding-right-small {
  padding-right: 1.5rem !important; }

.u-padding-right-medium {
  padding-right: 4rem !important; }

.needs-content {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 10rem; }
  @media only screen and (min-width: 23.4375em) {
    .needs-content {
      margin: 2.5rem; } }
  @media only screen and (min-width: 37.5em) {
    .needs-content {
      margin: 5rem; } }
  @media only screen and (min-width: 93.75em) {
    .needs-content {
      margin: 10rem; } }

.translation-slider__container {
  display: flex;
  align-items: center;
  flex-direction: row; }
  .translation-slider__container-label {
    width: max-content;
    text-align: center;
    padding: 0.5rem;
    white-space: nowrap; }

.map-chart {
  height: 100%;
  width: 95vw;
  margin: 0;
  padding: 0; }
  .map-chart__marker {
    cursor: pointer; }
  .map-chart__annotation {
    opacity: 0%;
    display: none;
    transition: all 0.2s ease-in-out; }

.map-entity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #f9f9f9;
  border-radius: 10px;
  border: 0.5px solid black;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */ }
  .map-entity::-webkit-scrollbar {
    display: none; }
  .map-entity__card {
    height: max-content;
    width: 85%;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0.5rem;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; }
    .map-entity__card:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
      transform: translateY(3px); }
    .map-entity__card-header {
      display: inline-block;
      padding: 0;
      margin: 0.5rem 0.5rem 0 0.5rem;
      font-size: 0.75rem !important;
      font-weight: bold; }
    .map-entity__card-location {
      display: inline-block;
      padding: 0;
      margin: 0 0.5rem 0 0.5rem;
      font-size: 0.5rem !important; }
    .map-entity__card-link {
      display: inline-block;
      color: #c4c4c4;
      padding: 0;
      margin: 0 0.5rem 0.5rem 0.5rem;
      font-size: 0.5rem;
      transition: color 0.2s ease-in-out; }
    .map-entity__card-link:visited, .map-entity__card-link:link {
      color: #c4c4c4; }
    .map-entity__card-link:hover, .map-entity__card-link:active {
      color: #5ba8a0; }

.btn {
  z-index: 1;
  color: #5ba8a0;
  padding: 1.25rem 3.5rem;
  border-radius: 1rem;
  border: 3px solid #5ba8a0;
  font-size: 1.6rem;
  transition: all 0.4s;
  top: 3px; }
  @media only screen and (min-width: 23.4375em) {
    .btn {
      padding: 1rem 3rem;
      font-size: 1rem; } }
  @media only screen and (min-width: 37.5em) {
    .btn {
      padding: 1rem 3rem;
      font-size: 1rem; } }
  @media only screen and (min-width: 56.25em) {
    .btn {
      padding: 1.25rem 3.5rem;
      font-size: 1.6rem; } }
  @media only screen and (min-width: 75em) {
    .btn {
      padding: 1.25rem 3.5rem;
      font-size: 1.6rem; } }
  @media only screen and (min-width: 93.75em) {
    .btn {
      padding: 1.25rem 3.5rem;
      font-size: 1.6rem; } }
  .btn:link, .btn:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; }
  .btn:hover {
    color: #5ba8a0;
    transform: translateY(-3px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .btn:active {
    text-decoration: none;
    transform: translateY(3px);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    background: linear-gradient(#3b5284, #5ba8a0);
    color: #ffffff;
    cursor: pointer; }

.continent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column; }
  .continent__name {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 300; }
    @media only screen and (min-width: 23.4375em) {
      .continent__name {
        font-size: 1rem; } }
    @media only screen and (min-width: 37.5em) {
      .continent__name {
        font-size: 1.5rem; } }
    @media only screen and (min-width: 93.75em) {
      .continent__name {
        font-size: 1.5rem; } }
  .continent__entities {
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    margin-left: 2rem; }
    @media only screen and (min-width: 23.4375em) {
      .continent__entities {
        font-size: 0.75rem;
        margin-left: 1rem; } }
    @media only screen and (min-width: 37.5em) {
      .continent__entities {
        font-size: 1rem;
        margin-left: 1.5rem; } }
    @media only screen and (min-width: 93.75em) {
      .continent__entities {
        font-size: 1.25rem;
        margin-left: 2rem; } }
  .continent__active {
    color: #5ba8a0;
    font-weight: 700; }
    .continent__active-sub {
      color: #5ba8a0;
      font-weight: 500; }

.missionary-info__bio {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; }
  .missionary-info__bio > h3 {
    margin-bottom: 1rem; }
  .missionary-info__bio-profile {
    display: flex;
    flex-direction: row; }
    .missionary-info__bio-profile--img {
      width: 30%;
      margin-right: 2rem;
      margin-bottom: 2rem;
      object-fit: contain; }
    .missionary-info__bio-profile--text {
      display: flex;
      flex-direction: column; }
      .missionary-info__bio-profile--text > h2 {
        margin-bottom: 1rem;
        font-weight: 700; }
      .missionary-info__bio-profile--text > * span {
        margin-left: 1rem;
        font-size: 1.33rem;
        font-weight: 300; }
      .missionary-info__bio-profile--text > h3 {
        margin-bottom: 1rem; }
      .missionary-info__bio-profile--text > h4 {
        margin-bottom: 1rem;
        font-weight: 300; }
  .missionary-info__bio-prayer-requests {
    white-space: pre-line; }
  .missionary-info__bio-document {
    color: #5ba8a0;
    text-decoration: none;
    font-size: 1.25rem;
    transition: color 0.4s ease-in-out; }
    .missionary-info__bio-document:hover {
      color: #386669;
      text-decoration: underline; }
    .missionary-info__bio-document:visited, .missionary-info__bio-document:active {
      color: #5ba8a0; }
  .missionary-info__bio-carousel {
    width: 100%; }
    .missionary-info__bio-carousel > img {
      max-height: 10rem !important;
      max-width: 10rem !important;
      padding-bottom: 2rem;
      object-fit: scale-down; }

.stm-info__bio {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; }
  .stm-info__bio > h3 {
    margin-bottom: 1rem; }
  .stm-info__bio-profile {
    display: flex;
    flex-direction: row; }
    .stm-info__bio-profile--img {
      width: 30%;
      margin-right: 2rem;
      margin-bottom: 2rem;
      object-fit: contain; }
    .stm-info__bio-profile--text {
      display: flex;
      flex-direction: column; }
      .stm-info__bio-profile--text > h2 {
        margin-bottom: 1rem;
        font-weight: 700; }
      .stm-info__bio-profile--text > * span {
        margin-left: 1rem;
        font-size: 1.33rem;
        font-weight: 300; }
      .stm-info__bio-profile--text > h3 {
        margin-bottom: 1rem; }
      .stm-info__bio-profile--text > h4 {
        margin-bottom: 1rem;
        font-weight: 300; }
  .stm-info__bio-carousel {
    width: 35%; }
    .stm-info__bio-carousel > img {
      max-height: 10rem !important;
      max-width: 10rem !important;
      padding-bottom: 2rem;
      object-fit: scale-down; }

nav {
  font-size: 1.2rem; }

.nav-item {
  width: max-content;
  white-space: nowrap; }

.nav-link {
  width: max-content;
  white-space: nowrap;
  margin: 0 1rem 0 1rem; }

.nav-link:lang(en) {
  font-family: 'EBGaramond', Helvetica, sans-serif;
  font-weight: 500;
  font-style: bold; }

.nav-link:lang(ko-KR) {
  font-family: 'Korean-EBGaramond', Verdana, sans-serif;
  font-weight: 500;
  font-style: bold; }

.nav__main-links {
  display: flex;
  align-self: center; }

.nav__translation-link {
  display: flex;
  justify-self: flex-end; }

.dropdown-item:lang(en) {
  font-family: 'EBGaramond', Helvetica, sans-serif;
  font-weight: 500;
  font-style: bold; }

.dropdown-item:lang(ko-KR) {
  font-family: 'Korean-EBGaramond', Verdana, sans-serif;
  font-weight: 500;
  font-style: bold; }

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
  width: 100%;
  height: 10rem;
  margin-right: 0;
  margin-left: 0;
  background-color: #3f3f3f;
  position: relative; }
  .footer__img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    z-index: 10;
    display: inline-block;
    user-select: none; }
    .footer__img-container {
      height: 100%; }
  .footer__contact {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10rem; }
    .footer__contact-text {
      color: #f8f8f8; }

.hero__image {
  object-fit: contain;
  width: 100%;
  height: auto;
  transition: height 0.66s ease-in-out; }

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.index {
  display: flex;
  height: 66%;
  width: 90%;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .index__disclaimer {
    margin-right: 5rem;
    display: flex;
    align-self: flex-end; }
  .index__welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 5rem 0 5rem 0; }
    @media only screen and (min-width: 23.4375em) {
      .index__welcome {
        flex-direction: column; } }
    @media only screen and (min-width: 37.5em) {
      .index__welcome {
        flex-direction: column; } }
    @media only screen and (min-width: 93.75em) {
      .index__welcome {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 5rem 0 5rem 0; } }
    .index__welcome-text {
      margin: 5rem 10rem 5rem 10rem; }
    .index__welcome-imgs {
      display: flex;
      align-items: flex-end;
      justify-content: center; }
      .index__welcome-imgs > img {
        margin: 0 1rem 0 1rem;
        width: 50%; }
  .index__orgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%; }
    .index__orgs-header {
      display: flex;
      align-self: flex-start; }
    .index__orgs-carousel {
      width: 100%; }
      .index__orgs-carousel--card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0; }
        .index__orgs-carousel--card > img {
          max-height: 10rem !important;
          max-width: 10rem !important;
          padding-bottom: 2rem;
          object-fit: scale-down; }

.about {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%; }
  .about__header {
    white-space: nowrap; }
  .about__text {
    font-size: 1.2rem; }
  .about__team {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%; }
    @media only screen and (min-width: 23.4375em) {
      .about__team {
        align-items: center;
        justify-content: center;
        flex-direction: column; } }
    @media only screen and (min-width: 37.5em) {
      .about__team {
        align-items: center;
        justify-content: center;
        flex-direction: column; } }
    @media only screen and (min-width: 93.75em) {
      .about__team {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        width: 100%; } }
    .about__team-card {
      margin: 2rem 0 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .about__team-card > img {
        width: 20rem;
        height: 20rem;
        object-fit: contain; }
        @media only screen and (min-width: 23.4375em) {
          .about__team-card > img {
            width: 10rem;
            height: 10rem; } }
        @media only screen and (min-width: 37.5em) {
          .about__team-card > img {
            width: 10rem;
            height: 10rem; } }
    .about__team-header {
      margin: 2rem 0 2rem 0; }
    .about__team-text--header {
      margin: 2rem 0 1rem 0; }
    .about__team-text--extra {
      width: 20rem; }

.supp-mission {
  display: flex;
  height: 66%;
  width: 90%;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .supp-mission__definitions {
    margin: 6rem 0 3rem 0;
    display: flex;
    width: 60%;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; }
    .supp-mission__definitions-block {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin-bottom: 3rem; }
      @media only screen and (min-width: 23.4375em) {
        .supp-mission__definitions-block {
          flex-direction: column; } }
      @media only screen and (min-width: 37.5em) {
        .supp-mission__definitions-block {
          flex-direction: column; } }
      @media only screen and (min-width: 93.75em) {
        .supp-mission__definitions-block {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row; } }
      .supp-mission__definitions-block--header {
        display: flex;
        align-self: flex-start;
        text-align: start;
        white-space: nowrap;
        margin-right: 2rem; }
  .supp-mission__missionaries {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10rem; }
    .supp-mission__missionaries-continent {
      display: flex;
      align-items: flex-start;
      align-self: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      height: 100%; }
      .supp-mission__missionaries-continent--header {
        font-size: 2rem; }
        @media only screen and (min-width: 23.4375em) {
          .supp-mission__missionaries-continent--header {
            font-size: 1.25rem; } }
        @media only screen and (min-width: 37.5em) {
          .supp-mission__missionaries-continent--header {
            font-size: 2rem; } }
        @media only screen and (min-width: 93.75em) {
          .supp-mission__missionaries-continent--header {
            font-size: 2rem; } }

.supp-org {
  margin: 10rem 0 10rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  width: 70%; }
  .supp-org__orgs {
    align-self: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .supp-org__orgs-row {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row; }
      .supp-org__orgs-row--card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 3rem; }
        @media only screen and (min-width: 23.4375em) {
          .supp-org__orgs-row--card {
            margin: 2rem; } }
        @media only screen and (min-width: 37.5em) {
          .supp-org__orgs-row--card {
            margin: 2rem; } }
        @media only screen and (min-width: 93.75em) {
          .supp-org__orgs-row--card {
            margin: 3rem; } }
        .supp-org__orgs-row--card---img {
          height: 30rem !important;
          width: 30rem !important;
          object-fit: scale-down; }
          @media only screen and (min-width: 23.4375em) {
            .supp-org__orgs-row--card---img {
              height: 10rem !important;
              width: 10rem !important; } }
          @media only screen and (min-width: 37.5em) {
            .supp-org__orgs-row--card---img {
              height: 20rem !important;
              width: 20rem !important; } }
          @media only screen and (min-width: 93.75em) {
            .supp-org__orgs-row--card---img {
              height: 30rem !important;
              width: 30rem !important;
              object-fit: scale-down; } }
        .supp-org__orgs-row--card---btn {
          font-size: 1rem;
          padding: 1rem 3rem;
          white-space: nowrap; }

.care-net {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 5rem; }
  .care-net__header:lang(en) {
    font-family: 'EBGaramond', Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal; }
  .care-net__header:lang(ko-KR) {
    font-family: 'Korean-EBGaramond', Verdana, sans-serif;
    font-weight: 500;
    font-style: normal; }
  .care-net__connect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.75rem; }
    .care-net__connect-text:lang(en) {
      font-family: 'EBGaramond', Helvetica, sans-serif;
      font-weight: 500;
      font-style: bold; }
    .care-net__connect-text:lang(ko-KR) {
      font-family: 'Korean-EBGaramond', Verdana, sans-serif;
      font-weight: 500;
      font-style: bold; }

.under-construction {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70vw;
  height: 50vh; }

.stm {
  display: flex;
  height: 66%;
  width: 90%;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .stm__main {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 5rem; }
  .stm__trips {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    margin: 2.5rem; }
    .stm__trips-entity {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%; }
  .stm__header {
    display: flex;
    align-self: flex-start; }
  .stm__stms {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10rem; }
    .stm__stms-continent {
      display: flex;
      align-items: flex-start;
      align-self: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      height: 100%; }
      .stm__stms-continent--header {
        font-size: 2.5rem; }
        @media only screen and (min-width: 23.4375em) {
          .stm__stms-continent--header {
            font-size: 1.25rem; } }
        @media only screen and (min-width: 37.5em) {
          .stm__stms-continent--header {
            font-size: 2rem; } }
        @media only screen and (min-width: 93.75em) {
          .stm__stms-continent--header {
            font-size: 2.5rem; } }
