.about {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  &__header {
    white-space: nowrap;
  }

  &__text {
    font-size: 1.2rem;
  }

  &__team {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

    @include respond(iphone) {
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    @include respond(phone) {
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    @include respond(desktop) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
    }

    &-card {
      margin: 2rem 0 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      & > img {
        width: 20rem;
        height: 20rem;
        object-fit: contain;

        @include respond(iphone) {
          width: 10rem;
          height: 10rem;
        }

        @include respond(phone) {
          width: 10rem;
          height: 10rem;
        }
      }
    }

    &-header {
      margin: 2rem 0 2rem 0;
    }

    &-text {
      &--header {
        margin: 2rem 0 1rem 0;
      }
      &--extra {
        width: 20rem;
      }
    }
  }
}
