// flex h-2/3 w-full place-items-center flex-col
.index {
  display: flex;
  height: 66%;
  width: 90%;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__disclaimer {
    margin-right: 5rem;
    display: flex;
    align-self: flex-end;
  }

  &__welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 5rem 0 5rem 0;

    @include respond(iphone) {
      flex-direction: column;
    }

    @include respond(phone) {
      flex-direction: column;
    }

    @include respond(desktop) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      margin: 5rem 0 5rem 0;
    }

    &-text {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }

    &-imgs {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      & > img {
        margin: 0 1rem 0 1rem;
        width: 50%;
      }
    }
  }

  &__orgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    &-header {
      display: flex;
      align-self: flex-start;
    }
    &-carousel {
      width: 100%;

      &--card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        & > img {
          max-height: 10rem !important;
          max-width: 10rem !important;
          padding-bottom: 2rem;
          object-fit: scale-down;
        }
      }
    }
  }
}
