/*
These are the imports for the main fonts in all of the application that use the serif font.
*/

@include font(
  'EBGaramond',
  url('#{$eb-garamond-font-path}/EBGaramond-ExtraBold.ttf'),
  900,
  'normal'
);

@include font(
  'EBGaramond',
  url('#{$eb-garamond-font-path}/EBGaramond-Bold.ttf'),
  700,
  'normal'
);

@include font(
  'EBGaramond',
  url('#{$eb-garamond-font-path}/EBGaramond-SemiBold.ttf'),
  500,
  'normal'
);

@include font(
  'EBGaramond',
  url('#{$eb-garamond-font-path}/EBGaramond-Medium.ttf'),
  400,
  'normal'
);

@include font(
  'EBGaramond',
  url('#{$eb-garamond-font-path}/EBGaramond-Regular.ttf'),
  300,
  'normal'
);

/*
These are the main fonts in the application that use the korean serif font.
*/

@include font(
  'Korean-EBGaramond',
  url('#{$nanum-myeongjo-font-path}/NanumMyeongjo-ExtraBold.ttf'),
  900,
  'normal'
);

@include font(
  'Korean-EBGaramond',
  url('#{$nanum-myeongjo-font-path}/NanumMyeongjo-Bold.ttf'),
  700,
  'normal'
);

@include font(
  'Korean-EBGaramond',
  url('#{$nanum-myeongjo-font-path}/NanumMyeongjo-Regular.ttf'),
  300,
  'normal'
);

/*
These are the main fonts in the application that use the sans serif font
*/

@include font(
  'OpenSans',
  url('#{$opensans-font-path}/OpenSans-ExtraBold.ttf'),
  900,
  'normal'
);

@include font(
  'OpenSans',
  url('#{$opensans-font-path}/OpenSans-Bold.ttf'),
  700,
  'normal'
);

@include font(
  'OpenSans',
  url('#{$opensans-font-path}/OpenSans-SemiBold.ttf'),
  500,
  'normal'
);

@include font(
  'OpenSans',
  url('#{$opensans-font-path}/OpenSans-Regular.ttf'),
  300,
  'normal'
);

@include font(
  'OpenSans',
  url('#{$opensans-font-path}/OpenSans-Light.ttf'),
  200,
  'normal'
);

/*
These are the main fonts in the application that use the korean sans serif font
*/

@include font(
  'Korean-OpenSans',
  url('#{$gothic-font-path}/GothicA1-ExtraBold.ttf'),
  900,
  'normal'
);

@include font(
  'Korean-OpenSans',
  url('#{$gothic-font-path}/GothicA1-Bold.ttf'),
  700,
  'normal'
);

@include font(
  'Korean-OpenSans',
  url('#{$gothic-font-path}/GothicA1-SemiBold.ttf'),
  500,
  'normal'
);

@include font(
  'Korean-OpenSans',
  url('#{$gothic-font-path}/GothicA1-Medium.ttf'),
  400,
  'normal'
);

@include font(
  'Korean-OpenSans',
  url('#{$gothic-font-path}/GothicA1-Regular.ttf'),
  300,
  'normal'
);

@include font(
  'Korean-OpenSans',
  url('#{$gothic-font-path}/GothicA1-Light.ttf'),
  200,
  'normal'
);

@include font(
  'Korean-OpenSans',
  url('#{$gothic-font-path}/GothicA1-ExtraLight.ttf'),
  100,
  'normal'
);

.nav-link {
  font-family: 'EBGaramond', Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  color: black !important;
}
