.btn {
  color: $color-teal;
  padding: 1.5rem 4rem;
  border-radius: 2rem;
  border: 3px solid $color-teal;
  font-size: 2rem;
  transition: all 0.4s;

  &:link,
  &:visited {
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
  }
  &:hover {
    color: $color-teal;
    transform: translateY(-3px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    text-decoration: none;
    transform: translateY(3px);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    background: linear-gradient($color-blue, $color-teal);
    color: $color-white;
    cursor: pointer;
  }
}
