.map-chart {
  height: 100%;
  width: 95vw;
  margin: 0;
  padding: 0;

  &__marker {
    cursor: pointer;
  }

  &__annotation {
    opacity: 0%;
    transition: all 0.2s ease-in-out;
  }
}
