// COLORS
$color-lightest-grey: #c4c4c4;
$color-light-grey: #3f3f3f;
$color-dark-grey: #282828;
$color-off-white: #f8f8f8;

$color-white: #ffffff;
$color-black: #000000;

$color-blue: #3b5284;
$color-teal: #5ba8a0;
$color-light-teal: #8ec0c3;
$color-dark-teal: #386669;
$color-yellow: #cbe54e;

// FONT
$default-font-size: 1.6rem;

// FONT PATH
$eb-garamond-font-path: 'fonts/eb-garamond';
$gothic-font-path: 'fonts/gothic';
$nanum-myeongjo-font-path: 'fonts/nanum-myeongjo';
$opensans-font-path: 'fonts/opensans';
